body {
    font-family: 'Roboto Mono', monospace;

    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 100px; */
    height: 100vh;

    text-align: center;

    background: linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48));
}